In [1]:
import pandas as pd

In [12]:
from scipy.stats import ttest_ind

In [19]:
import matplotlib.pyplot as plt

In [21]:
import matplotlib
matplotlib.style.use('ggplot')

In [3]:
data = pd.read_csv('company_finance.csv')

In [4]:
data[1:5]

,Unnamed: 0,symbol,PEG.Ratio,Earnings.Share,P.E.Ratio,Price.Sales,EBITDA,Price.Book,suspend
1,3,AAC,1.02,0.48,41.90,2.33,27.85M,3.19,0
2,4,ABT,2.18,2.93,14.99,3.17,4.46B,3.05,0
3,5,ABBV,0.79,3.13,19.61,4.26,9.74B,24.69,0
4,6,ABEO,0.00,-1.18,NaN,83.14,-12.35M,1.20,0

In [9]:
def cal(x):
    x = str(x)
    if 'B' in x:
        a = x.replace('B','')
        a = float(a)
        b = a* 1000000000
        return b
    if 'M'in x:
        c = x.replace('M','')
        d = float(c)
        e = d * 1000000
        return e
    else:return x

In [10]:
data['EBITDA'] = data['EBITDA'].map(cal)

In [11]:
data[1:5]

,Unnamed: 0,symbol,PEG.Ratio,Earnings.Share,P.E.Ratio,Price.Sales,EBITDA,Price.Book,suspend
1,3,AAC,1.02,0.48,41.90,2.33,2.785e+07,3.19,0
2,4,ABT,2.18,2.93,14.99,3.17,4.46e+09,3.05,0
3,5,ABBV,0.79,3.13,19.61,4.26,9.74e+09,24.69,0
4,6,ABEO,0.00,-1.18,NaN,83.14,-1.235e+07,1.20,0

In [14]:
good = data[data['suspend']==0]
bad = data[data['suspend']==1]

In [16]:
data.to_csv('company_convert.csv')

In [15]:
# Na so ttest doesn't work
ttest_ind(good['Price.Sales'],bad['Price.Sales'])

Ttest_indResult(statistic=nan, pvalue=nan)

In [22]:
good['Price.Book'].plot(kind='hist')